/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */
.flex-container{
    display: flex;
}

.white{
    color: white;
}

.app-container{
    margin: 0 auto;
    width: 90%;
}

/* Header */

header{
    background-color: black;
    height: 60px;
    justify-content: flex-end;
    text-align: right;
}

header button{
    background-color: gray;
    padding: 5px;
    border-radius: 5px;
    font-size: 12px;
}

/* Main */

main{
    background-color:black;
    height: calc(100vh - 130px );
    overflow-y: auto;
}

.card-container{
    flex-wrap: wrap;
}

.card{
    position: relative;
}


.card img{
    width: 185px;
    height: 100px;
    margin: 5px;
}

.card div{
    position: absolute;
    bottom: 9px;
    left: 5px;
}

.nominativo{
    font-size: 12px;
    color: white;
    background: rgba(0, 0, 0, 0.3);
    padding: 5px;
}

/* Footer */

footer{
    background-color: bisque;
    height: 70px;
}


