/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */
.flex-container{
    display: flex;
}

.white{
    color: white;
}

.app-container{
    margin: 0 auto;
    width: 90%;
}

/* Header */

header{
    background-color: black;
    height: 60px;
    justify-content: flex-end;
    text-align: right;
}

header button{
    background-color: gray;
    padding: 5px;
    border-radius: 5px;
    font-size: 12px;
}

/* Main */

main{
    background-color:black;
    height: calc(100vh - 130px);
    overflow-y: auto;
}

.card-container{
    flex-wrap: wrap;
}

.card{
    position: relative;
}


.card img{
    width: 185px;
    height: 100px;
    margin: 5px;
}

.card div{
    position: absolute;
    bottom: 9px;
    left: 5px;
}

.nominativo{
    font-size: 12px;
    color: white;
    background: rgba(0, 0, 0, 0.3);
    padding: 5px;
}

/* Footer */

footer{
    background: rgba(0, 0, 0, 0.8);
    height: 70px;
}

footer ul{
    list-style-type: none;
    align-items: center;
}

footer ul li{
    padding: 10px;
    color: white;
    font-size: 13px;
}

.barra-footer{
    justify-content: space-between;
    height: 100%;
    align-items: center;
}

.green{
    color: #4ac700;
}

.end{
    height: 100%;
    color: #cb2a2b;
    background-color: gray;
    align-items: center;
    font-size: 13px;
    padding: 15px;
}



